body {
  font-family: "apparat-excond", sans-serif;
  font-weight: 900;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.characters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 15px; 
  border: 2px solid black;
  padding: 50px;
  margin: 40px;
}

